<div class="container"
     fxLayout="row wrap"
     fxLayoutAlign="center start">
  <form class="example-form"
        fxFlex="80"
        [formGroup]="form"
        fxLayout="column">

    <h1>{{isEditProblem ? 'Edit problem' : 'Create new problem'}}</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput
             formControlName="title"
             placeholder="Title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput
                formControlName="description"
                placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Input description</mat-label>
      <textarea matInput
                formControlName="inputDescription"
                placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Input example</mat-label>
      <textarea matInput
                formControlName="inputExample"
                placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Output description</mat-label>
      <textarea matInput
                formControlName="outputDescription"
                placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Output example</mat-label>
      <textarea matInput
                formControlName="outputExample"
                placeholder="Description"></textarea>
    </mat-form-field>
  </form>

  <div fxFlex="80"
       class="file-container">

    <div fxLayout="row">
      <input type="file"
             fxFlex="50"
             #files
             class="file-input"
             multiple
             placeholder="Description">

      <div fxFlex="50" fxLayout="row wrap">
        <div *ngFor="let test of tests"
             class="test-element"
             fxLayout="row">
          <mat-icon (click)="deleteTest(test._id)">delete</mat-icon>
          <a href="#">{{test.name + '.output'}}</a>
          <a href="#">{{test.name + '.input'}}</a>
        </div>
      </div>

    </div>

    <div>
      <button mat-raised-button
              color="primary"
              (click)="saveProblem()">Save
      </button>
      <button mat-raised-button
              routerLink="/">Back
      </button>
    </div>
  </div>
</div>
