@import "apps/learn-to-code/src/variables";

:host {
  .container {
    width: 100vw;
    height: 100vh;

    .problem-container {
      background-color: mat-color($accentPalette);

      color: #fff;

      padding: 20px;

      h1 {
        color: mat-color($primaryPalette);
      }
    }

    .code-container {
      min-height: 50vh;
      margin-top: 20px;
    }

    .run-code-button {
      position: fixed;
      right: 20px;
      bottom: 20px;
    }
  }
}
