<div class="container"
     fxLayout="row wrap"
     fxLayoutAlign="center start">

  <div fxFlex="80">
    <button mat-raised-button color="primary" routerLink="/problem">New Problem</button>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         fxFlex="80">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button
                [routerLink]="'/solve/' + element?._id"
                color="primary">Solve</button>
        <button mat-raised-button
                [routerLink]="'/problem/' + element?._id">Edit</button>
        <button mat-raised-button
                (click)="removeProblem(element?._id)">Remove</button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
